# dependencies
/node_modules

# production build
/build

# local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor settings
.vscode
.idea
*.iml

# macOS
.DS_Store

# misc
Thumbs.db
*.log
